* {
  margin: 0px;
  padding: 1px;
}

body {
  background-color: #447485;
  /* background-image: ; */
}

.dash {
  height: 50px;
  width: 100%;
  background: #84cfeb;
  display: flex;
  justify-content: center;
}
#logo {
  display: flex;
  border-right: solid 2px black;
  padding: 5px;
  justify-content: left;
}

li {
  margin-left: 5px;
  display: inline;
  justify-content: center;
}

.container {
  margin-top: 5px;
  display: flex;
  padding: 3px;
  color: white;
}

.Clocation {
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-bottom: solid black 2px;
}

.Mlocation {
  font-style: italic;
}

iframe {
  border: 3px #84cfeb;
  height: 200px;
}

.information {
  display: flex;
}
