* {
  margin: 0px;
  padding: 1px;
}

body {
  background-color: #447485;
  /* background-image: ; */
}

.dash {
  height: 50px;
  width: 100%;
  background: #84cfeb;
  /* display: flex; */
  text-align: center;
  justify-content: center;
}
.dash #logo {
  display: flex;
  border-right: solid 2px black;
  padding: 5px;
  position: relative;
  /* margin-right: auto; */
}

.dash #logo #logo-name {
  margin-left: 1rem;
}

li {
  display: flex;
  justify-content: center;
  /* position: relative; */
  text-transform: uppercase;
}

.dash #nav-list {
  margin-left: 5px;
  display: inline;
}

.container {
  margin-top: 5px;
  display: flex;
  padding: 3px;
  border-bottom: solid cornsilk 2px;
  position: relative;
  color: white;
}

.container .Clocation {
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  /* margin-right: auto; */
  display: flex;
}

.Clocation #pin {
  margin-top: 6px;
  font-style: italic;
  padding: 1rem;
}

.container button {
  background-color: #447485;
  font-weight: bold;
  color: #fff;
  border-radius: 7px;
  padding: 5px;
  margin: 6px;
  appearance: none;
  text-transform: uppercase;
  cursor: pointer;
}

.Mlocation {
  font-style: italic;
  justify-content: left;
  margin-left: auto;
  place-items: left;
}

iframe {
  border: 3px #84cfeb;
  height: 200px;
}

.information {
  display: flex;
  text-align: center;
  width: auto;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.information .info-listed {
  height: 200px;
  width: 300px;
  background-color: #7fffd4;
  padding: 20px;
  margin: 5px;
  line-height: 20px;
  position: relative;
  contain: content;
  border-radius: 10px;
}

.information .info-listed h4 {
  font-size: 26px;
  font-weight: bold;
  font-style: oblique;
  padding: 10px;
}
